<div id="content-displayer" *ngIf="data | async as repositories">
    <span *ngIf="repositories[0] && repositories[0].error else gitHubResult">
    {{repositories[0].error}}
    </span>
  <ng-template #gitHubResult>
    <app-slider [data]="repositories" [height]="40">
      <div class="result" *ngFor="let repository of repositories">
        <div class="result-list">
          <div class="result-list-container">
            <div class="result-list-container-label">
            <div>Repository name</div>
            </div>
            <div class="result-list-container-result">
              <div>{{repository.name}}</div>
            </div>
          </div>
          <div class="result-list-container">
            <div class="result-list-container-label">
              <div>Repository owner</div>
            </div>
            <div class="result-list-container-result">
              <div>{{repository.owner.login}}</div>
            </div>
          </div>
            <div class="result-list-container-label for-branch">BRANCHES</div>
            <div class="result-list-branches">
              <div class="result-list-container-label branch">BRANCH NAME</div>
              <div class="result-list-container-label branch">COMMIT SHA</div>
              <ng-container *ngFor="let branch of repository.branches">
                <div class="typo"> {{branch.name}}</div>
                <div class="typo">{{branch.commit.sha}}</div>
              </ng-container>
          </div>
        </div>
      </div>
    </app-slider>
  </ng-template>
</div>
