@import "../mixin";
#typedflow {
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  .magic-container {
    h1 {
      color: var(--plain-white);
      text-align: center;
      > span {
        &.shine {
          animation: color-me-in 0.1s infinite;
          color: var(--detail-color);
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }
}
#project-info {
  @include font-style(calc(var(--font-size) * 0.8), calc(var(--line-height) * 1), var(--font-weight));
  position: absolute;
  bottom: calc(var(--margin-base) * 0.5px);
  left: calc(var(--margin-base) * 0.5px);
  text-align: left;
}
